################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/COMP474Project.slnx/FileContentIndex
/.vs
